@import '_variables';

mat-card {
    box-shadow: none;
}

mat-card-header {
    margin-bottom: 1.5rem;
}

mat-card-content {
    display: flex;
    align-items: center;
    color: $dark-grey
}

.bookmark-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.edit-bookmark-button {
    margin-left: auto;
}