@import '_variables';

mat-card {
    box-shadow: none;
}

mat-card-header {
    margin-bottom: 1.5rem;
}

mat-card-content {
    display: flex;
    align-items: center;
    color: $dark-grey;
    padding-bottom: 0 !important;
}

mat-icon {
    flex-shrink: 0;
}

.bookmark-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    min-width: 0;
}

.edit-bookmark-button {
    margin-left: auto;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:visited {
    color: $blue;
}