@import '_variables';
@import '_common_styles';

.bookmarks-section-title {
    color: $light-grey;
    margin: 1rem 1rem 0 1rem;
}

.no-bookmarks-title {
    text-align: center;
    color: $dark-grey;
}