@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles/_variables.scss";
@import "./styles/_common_styles.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}